@font-face {
  font-family: 'Forza Black';
  font-style: normal;
  font-weight: normal;
  src: url(tipografias/Forza-Black.ttf)
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  src: url(tipografias/Quicksand-VariableFont_wght.ttf)
}


body {
  background-color: white;
}

.body {
  margin: 0;
  height: 700px;
}

.page-header {
  background-color: white;
}

.icon-bar {
  width: 70px;
  background-color: #eee;
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
  padding-top: 16;
  margin-top: 150px;
}

.icon-bar a {
  display: block;
  text-decoration: none;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 24px;
  padding: 6px 8px 6px 14px;
}

.icon-bar a:hover {
  background-color: #828282;
}

.active {
  background-color: #828282;
}

#main {
  /* height: 100%; */
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.container h1 {
  color: #0084FF;
  text-align: center;
}

.container i {
  color: #0084FF;
  padding-right: 2%;
}

#mail {
  padding-right: 15px;
}

#inputs_contacto {
  position: absolute;
  top: 225px;
  left: 970px;
}

.text_area_mensaje {
  position: absolute;
  top: 480px;
  right: 550px;
}

.text_area .container p {
  color: black;
}

.container-sm {
  padding-left: 10%;
  padding-top: 2%;
}

#ubi {
  display: inline-block;
  margin: auto;
  margin-bottom: 15px;
}

.container-md {
  display: flex;
  flex-direction: row;
}

#contacto_footer {
  height: 99px;
  width: 170px;
  border-style: solid;
  position: absolute;
  top: 1px;
  right: 330px;
}

.redes_footer {
  height: 99px;
  width: 318px;
  border-style: solid;
  position: absolute;
  top: 1px;
  right: 1px;
}

#empresa_footer {
  position: absolute;
  left: 50px;
}

#texto_empresa1 {
  position: absolute;
  left: 70px;
  bottom: -10px;
}

#texto_empresa2 {
  position: absolute;
  left: 260px;
  bottom: -9px;
}

#afiliados_footer {
  position: absolute;
  top: -20px;
  right: 900px;
}

footer {
  font-family: 'Quicksand';
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  /* background-color: rgba(255, 78, 8, 0.966); */
  background-color: #FF8000;
}

#posContact {
  position: absolute;
  bottom: -15px;
}

#posEnviarContacto {
  background-color: #0084FF;
  position: absolute;
  left: 320px;
}